.layout_container {
  padding: 20px;
  margin: 0 auto;
  height: 100vh;
}

.layout_header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.layout_footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 17px;
  padding: 30px 0;
  margin-top: -10px;
}

